<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zhang.yuliang.fastgetmoney">

    <!-- 开电源权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 滑动解锁权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <!-- 屏幕唤起 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <!--闪屏页-->
        <activity android:name=".activitys.SplashActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--主页面-->
        <activity android:name=".activitys.MainActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>
        <!--设置页面-->
        <activity android:name=".activitys.SettingsActivity"
                  android:screenOrientation="portrait">
        </activity>
        <service
            android:name=".services.ListenMoneyService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter android:priority="2147483646">
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>
    </application>

</manifest>